@page "/adjuntadocumento"
@using Model
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home Track | Adjuntar Documentos</PageTitle>

<h3>Adjuntar Documentos</h3>

@code {

}
