@page "/estadodocumento"
@using Model
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home Track | Estado de Documentos</PageTitle>

<h3>Estado de Documentos</h3>

@code {

}