<MudDialog>
     <TitleContent>
         <div class="d-flex align-center justify-start mud-width-full gap-2">
            <MudIcon Icon="@Icons.Material.Filled.Edit"/>
            <MudText Typo="Typo.h6">Home Track</MudText>
         </div>
    </TitleContent>
    <DialogContent>
        <MudText Typo="Typo.body1">
            @Mensaje
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">Aceptar</MudButton>
        <MudButton Color="Color.Secondary" OnClick="Cancelar">Cancelar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string Mensaje { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancelar() => MudDialog.Close(DialogResult.Cancel());
}